  body {
    max-width: 1200px;
  }


  div.background:first-of-type {
    padding: 5px 0px;
    padding-bottom: 20px;
    background-image: url(./assets/header.jpg);
    background-position: center;
    height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header {
    margin: 0 15px;
  }

  header span {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    gap: 25px;
    margin: 10px 0px;
  }

  .logo img {
    width: 60%;
  }

  .logo,
  .nav,
  .social {
    flex: 1;
  }

  .social span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }

  .social span img {
    width: 15%;
  }

  .nav {
    flex: 5;
    display: flex;
    justify-content: space-between;
  }

  .nav div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav div:hover {
    font-size: 120%;
    filter: drop-shadow(2px 4px 2px grey);
  }

  .social span img:hover {
    width: 20%;
    filter: drop-shadow(2px 4px 2px grey);
  }

  .logo img:hover {
    width: 66%;
    filter: drop-shadow(2px 4px 2px grey);
  }

  .banner {
    padding: 5px;
    background: #80808033;
    margin: 0 auto;
    width: 90%;
    position: relative;
    top: 20px;
  }

  .banner h2 {
    margin: 35px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    opacity: 0.5;
  }

  .container {
    display: flex;
    padding: 20px 14px;
    margin: 15px 0px;
  }

  .articles-container {
    flex: 7;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #4E4D6B;
    padding: 20px;
    margin-right: 25px;
  }

  .articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .article {
    background-color: #4dabf7;
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(35% - 10px);
  }

  .navegacion {
    background-color: #71A3C4;
    padding: 20px;
    margin-top: 5px;
  }

  .publicidad {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F63F51;
    padding: 25px;
  }

  .ad {
    background-color: #ffdd57;
    padding: 20px;
  }

  footer {
    display: flex;
  }

  footer span {
    background-color: #ffe066;
    padding: 8px;
    width: 100%;
    margin: 12px;
  }

  @media screen and (max-width: 1024px) {
    .logo img {
      width: 5%;
      margin: auto;
      display: flex;
    }

    .social span {
      display: flex;
      justify-content: center;
      flex-direction: row;
      position: relative;
      bottom: 185px;
    }

    .social span img {
      width: 5%;
    }

    header span {
      flex-direction: column;
    }

    .container {
      flex-direction: column;
    }

    div.background:first-of-type {
      height: 390px;
    }

    .articles-container {
      margin: 0 0 20px 0;
    }

    .banner {
      top: -150px;
    }

    .social span img:hover {
      width: 6%;
      filter: drop-shadow(2px 4px 2px grey);
    }

    .logo img:hover {
      width: 6%;
      filter: drop-shadow(2px 4px 2px grey);
    }

  }

  @media screen and (max-width: 768px) {
    header span {
      flex-direction: column;
    }

    .banner {
      padding: 5px 0;
    }

    .banner h2 {
      margin: 15px;
    }

    .container {
      flex-direction: column;
    }

    .articles-container {
      margin: 0 0 20px 0;
    }

    .articles {
      flex-direction: column;
    }
  }