  body {
    max-width: 1200px;
  }

  .background{
    width: 96%;
    margin: auto;
  }


  div.background:first-of-type {
    padding: 5px 10px;
    padding-bottom: 20px;
    background-image: url(./assets/header.jpg);
    background-position: center;
    height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header {
    margin: 0 15px;
  }

  header span {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    gap: 25px;
    margin: 10px 0px;
  }

  .logo img {
    width: 60%;
  }

  .logo,
  .nav,
  .social {
    flex: 1;
  }

  .social span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }

  .social span img {
    width: 15%;
  }

  .nav {
    flex: 5;
    display: flex;
    justify-content: space-between;
  }

  .nav div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav div:hover {
    font-size: 120%;
    filter: drop-shadow(2px 4px 2px grey);
  }

  .social span img:hover {
    width: 20%;
    filter: drop-shadow(2px 4px 2px grey);
  }

  .logo img:hover {
    width: 66%;
    filter: drop-shadow(2px 4px 2px grey);
  }

  .banner {
    padding: 5px;
    background: #80808033;
    margin: 0 auto;
    width: 90%;
    position: relative;
    top: 20px;
  }

  .banner h2 {
    margin: 35px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    opacity: 0.5;
  }

  .container {
    display: flex;
    padding: 20px 14px;
    margin: 15px 0px;
  }

  .articles-container {
    flex: 5;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #D8D7D7;
    padding: 20px;
    margin-right: 25px;
  }

  .articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .article {
    background-color: #F5F1F1;
    padding: 10px;
    text-align: center;
    flex: 1 1 calc(35% - 10px);
  }

  .article div img {
    width: 100%;
  }

  figcaption {
    text-align: left;
    position: relative;
    top: -25px;
    left: 5px;
    color: yellow;
  }

  .title {
    text-align: left;
    background: #F08080;
    padding: 10px;
    margin-top: -15px;
    color: white;
    text-transform: uppercase;
  }

  p {
    columns: 2;
    text-align: left;
    padding: 0 10px;
  }

  .read-more {
    display: flex;
    margin-left: 10px;
  }

  .navegacion {
    padding: 20px;
    margin-top: 5px;
  }

  .publicidad {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #D8D7D7;
    padding: 25px;
  }

  .ad {
    padding: 5px;
    text-align: center;

  }

  .ad:first-of-type {
    font-weight: bolder;
    font-size: 18px;
  }

  footer {
    display: flex;
    background-color: #D8D7D7;
    margin: -15px 15px 5px;
  }

  footer span {
    background-color: #F5F1F1;
    padding: 0 8px;
    width: 100%;
    margin: 0 12px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .logo img {
      width: 5%;
      margin: auto;
      display: flex;
    }

    .social span {
      display: flex;
      justify-content: center;
      flex-direction: row;
      position: relative;
      bottom: 185px;
    }

    .social span img {
      width: 5%;
    }

    header span {
      flex-direction: column;
    }

    .container {
      flex-direction: column;
    }

    div.background:first-of-type {
      height: 390px;
      padding-bottom: 60px;
    }

    .articles-container {
      margin: 0 0 20px 0;
    }

    .banner {
      top: -150px;
    }

    .social span img:hover {
      width: 6%;
      filter: drop-shadow(2px 4px 2px grey);
    }

    .logo img:hover {
      width: 6%;
      filter: drop-shadow(2px 4px 2px grey);
    }

    .nav{
      margin-bottom: 20px !important;
    }

  }

  @media screen and (max-width: 768px) {
    header span {
      flex-direction: column;
    }

    .banner {
      padding: 5px 0;
      background: #80808033;
    margin: -20px auto;
    width: 90%;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
    }

    .banner h2 {
      margin: 15px;
      opacity: 0.8;
    }

    .container {
      flex-direction: column;
    }

    .articles-container {
      margin: 0 0 20px 0;
    }

    .articles {
      flex-direction: column;
    }

    .logo img{
      width: 20%;
      display: flex;
      margin: auto;
    }

    .social span{
      flex-direction: row;
      width: 40%;
      display: flex;
      margin: auto;
    }

    div.background:first-of-type{
      height: 700px;
      padding: 20px 0px;
    }
  }

  i{
    animation: tornadoX 1s ease-in;
  }

  .banner{
    animation: changeOpacity 2s ease-in;
  }

  .logo img {
    animation: tornadoY 1s ease-in-out;
  }

  @keyframes tornadoX {
    0%{transform: rotateX(0);}
    25%{transform: rotateX(45deg);}
    50%{transform: rotateX(75deg);}
    75%{transform: rotateX(120deg);}
    100%{transform: rotateX(0);} 
  }

  @keyframes tornadoY {
    0%{transform:translateX(-100px);}
    50%{transform:translateX(100px);}
    100%{transform: translateX(0);} 
  }
  
  @keyframes changeOpacity {
    0%{background:#80808033}
    50%{background:#808080}
    100%{background:#80808033}
  }